.App {
  text-align: center;
  background: black
}

#nav-bar {
  display: flex;
  flex-direction: row;
  margin: 1px;
  justify-content: space-between;
}

.nav-item {
  display: flexbox;
  font-size: 15px;
  margin: 2px 15px 2px 15px;
}

.nav-item:hover {
  background: firebrick;
}

.fancyText {
  animation: rollingColours 2s linear;
  animation-iteration-count: infinite;
}

@keyframes rollingColours {
  0% {color: red}
  25% {color: silver}
  60% {color: gold}
  100% {color: red}
}
